# Add the following to your gitignore:
logs
modernfix
.mixin.out
crash-reports
saves
screenshots
xaero
XaeroWaypoints_BACKUP*
ESM
local
data
emi.json
heracles_options.json

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta